<h1>Resultados da pesquisa</h1>
<hr>

{{#each tarefas}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{nome}}</h3>
        <p>{{descricao}}</p>
        <h6>Status: {{concluida}}</h6>
        <h6>Cliente: {{cliente}}</h6>
    </div>
</div>
{{else}}
    <h5>Nenhuma Postagem para este cliente</h5>
{{/each}}